<h1>Vos messages</h1>
<p align="right"><%= link_to 'Nouveau message', new_message_path, class: 'btn btn-success btn-lg' %></p>
<div class="row">
<div class="col-sm-3">
<ul class="nav nav-pills nav-stacked">
<%= mailbox_section 'inbox', @box %>
<%= mailbox_section 'sent', @box %>
<%= mailbox_section 'trash', @box %>
</ul>
</div>
<div class="col-sm-9">
<% if @box == 'trash' %>
  <p><%= link_to 'Vider le dossier', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
data: {confirm: 'Etes-vous sûr ?'} %></p>
<% end %>
<ul class="list-group">
<%= render partial: 'conversations/conversation', collection: @conversations %>
</ul>
<%= will_paginate %>
</div>
</div>
 <%= render 'popUP/popUpLogin' %>
<%= render 'popUP/popUpEditRegistration' %>
<%= render 'popUP/popUpRegistration' %>
<%= render 'popUP/popUpNewTrajet' %>